.header{
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s;
  &_wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 136px;
  }
  &_logo{
    display: flex;
    justify-content: space-between;
      .img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        &:nth-child(3){
          padding: 0 16px;
        }
    }
  }
  &_nav{
    position: relative;
    ul{
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
    }
    li{
      list-style: none;
      &:not(:last-child){
        padding-right: 40px;
      }
    }
    a{
      color: $text_color;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      line-height: 18px;
      display: flex;
      align-items: center;
      transition: 1s;
      &:hover{
        color: $main_pageColor;
      }
    }
    img{
      padding-left: 10px;
    }
  }
  .line{
    background: $main_pageColor;
    height: 3px;
    position: absolute;
    width: 100%;
    margin-top: 25px;
    border-radius: 20px;
  }
  &_btn{
    @extend %btn;
    padding: 14px 40px;
    transition: 1s;
  }
  .img_media{
    display: none;
  }
}
.hide{
  background: $header_bg;
  @extend %shadow;
}
.lang_media{
  display: none;
}
.menu-button,
.menu-button::before,
.menu-button::after{
  transition: 1.5s;
}
#menu-toggle {
  display: none;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu-button::before {
  content: '';
  margin-top: -8px;
}
.menu-button::after {
  content: '';
  margin-top: 8px;
}
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}
#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}
#menu-toggle:checked + .header_wrapper nav{
  display: flex;
}
#menu-toggle:checked ~ nav  {
  display: flex;
}
a:active ~ nav {
  display: none;
}

