@media (max-width: 1250px){
  .header_wrapper{

  }
  .header_btn{
    display: none;
  }

}

@media (max-width: 1024px){
  .header{
    .logo{
      display: none;
    }
    .img_media{
      display: block;
    }
    .line{
      margin-top: 15px;
    }
  }
  .header_wrapper{
    height: 100px;
  }
}

@media (max-width: 767px){
  .header_wrapper{
    height: 80px;
  }
  .header_nav{
    display: none;
    position: absolute;
  }
  .menu-button-container{
    display: flex;
  }
  .line{
    display: none;
  }
  .header{
    .lang{
      display: block;
    }
  }
}
@media (max-width: 576px){
  .header{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
  }
  .header_wrapper{
    background: $header_bg;
    height: 60px;
  }
  .sign{
    width: 25px;
  }
  .right_side{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}