.news{
  &_wrapper{

  }
  h2{
    @extend %h2;
    padding-bottom: 60px;
  }
  &_block{

  }
  &_item{
    justify-content: space-between;
    display: flex;
    padding-bottom: 80px;
  }
  .article{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 49%;
  }
  .date{
    display: flex;
    width: 15%;
    justify-content: end;
  }
  h3{
    color: $hover_color;
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
  }
  h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $text_color;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $text_color;
  }
  .date{
    color: $text_color;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .news_show{
    display: none;
  }
}