.course{
  &_swiper_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    overflow: auto;
  }
  .swiper-slide-wrapper{
    position: relative;

    margin: 0 4px;

    cursor: pointer;
    transition: $transition;
    &:hover{
      box-shadow: 0 6px 20px 0 #1B63F066;
      border-radius: 8px;
    }
  }
  .profile{
    position: absolute;
    top: 0;
    left: 16px;
    transform: translateY(-50%);
  }
  .article{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;

    bottom: 0;
  }
  .price{
    display: flex;

    width: 100%;
    padding: 16px 14px 20px 16px;
    gap: 36px;
  }
  .star_group{
    display: flex;
    gap: 2px;
  }
  .right,
  .left{
    display: flex;
    align-items: center;
  }
  .course_description{
    display: flex;
    padding: 8px 0 16px 16px;
  }
  .course_description::after{
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0;

    width: 100%;
    height: 1px;

    background: white;

    opacity: 0.3;
  }
  .swiper-slide{
     .course_name{
      padding-left: 16px;
    }
  }
  .course_bg{
    border-radius: 8px;
  }
  .slick-list{
    padding: 24px 0;
    max-width: 850px;
  }
  .left           {  gap: 10px;  }
  .star_count     {  padding-left: 4px;  }
  .course_intro   {  padding: 6px 0 30px;  }
  .course_intro,
  .course_name,
  .caption_primary{  text-align: center;  }
}
@media (min-width: $media_sm) {
  .course{
    .price{
      justify-content: space-between;
      align-items: center;

      gap: 84px;
    }
    .swiper-slide-wrapper{
      width: 271px;
      margin: 0 auto;
      }
  }
}
@media (min-width: $media_lg) {
  .course{
    background-image: url("../../../assets/images/04_course_bg.png");
    background-repeat: no-repeat;
    background-position-x: -100%;
    .swiper-slide,
    .profile              {  left: 24px;  }
    .star_group           {  gap: 3px;  }
    .course_intro         {  padding-bottom: 80px;  }
    &_swiper_wrapper      {  gap: 20px;  }
    .course_description   {  padding: 9px 0 16px 17px;  }
  }
}
