.description{
  padding: 80px 0 120px ;
  &_video{
    position: relative;
    overflow: hidden;

    padding-bottom: 40px;
    .description_bg{
      max-width: none
    }
  }
  .play_btn{
    position: absolute;
    top: 35%;
    left: 45%;
  }
  .article_list_item{
    padding-left: 16px;
    list-style: url("../../../assets/images/05description_dot.svg");
    &:first-child{
      padding-bottom: 12px;
    }
  }
  .btn_bg       {  transform: translate(2px)  }
  .info         {  padding: 12px 0 10px;  }
  .caption      {  margin: 6px 0 24px;  }
  &_article     {  padding: 0 24px;  }
  .article_list {  padding: 0 0 24px 20px;  }
}
@media (min-width: $media_lg) {
  //.description .description_bg    {  width: 100%;  }
  .description{
    display: flex;
    &_article{
      padding:56px 0 0 ;
      max-width: 415px;
    }
    &_bg  {  width: 90%;  }
  }
}
@media (min-width: $media_xl) {
  .description{
    overflow: hidden;

    margin: 0 auto;
    max-width: 1440px;

    padding: 64px 0 100px;
    .play_btn{
      top: 44%;
      left: 60%;
    }
    .description_article::before,
    .description_article::after{
      content: '';
      position: absolute;

      background: var(--description_before_bg);
    }
    .description_article::before{
      right: -31%;
      bottom: 47%;

      width: 40px;
      height: 40px;

      border-radius: 8px;
    }
    .description_article::after{
      right: 2%;

      width: 32px;
      height: 32px;

      border-radius: 50%;
    }
    &_bg                             {  width: 100%;  }
    &_video                          {  padding: 0 116px 0 0;  }
    &_article                        {  position: relative;  }
    .article_list_item:first-child   {  padding-bottom: 10px;  }
  }
}