.header{
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1.5s;
  &:hover{
    background: rgba($header_bg, 0.4);
  }
  .logo_black{
    display: none;
  }
  &_logo{
    display: flex;
    align-items: center;
    a{
      padding: 20px 0;
      img{
        width: 30px;
      }
    }
  }

  &_wrapper{
    display: flex;
    justify-content: space-between;
    height: 65px;
    nav{
      transition: 1.5s;
      display: flex;
      align-items: center;
      ul{
        padding: 0;
        margin: 0;
        display: flex;
        li{
          list-style: none;
          a{
            font-weight: 500;
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: $text_color;
            padding: 20px 0;
            transition: 1s;
            &:hover{
              color: $hover_color;
            }
          }
        }
        li:not(:last-child){
          padding-right: 35px;
        }
      }
    }
  }
}

.hide{
  .logo_white{
    display: none;
  }
  .logo_black{
    display: block;
  }
  &:hover{
    background: $header_bg;
  }
  @extend %shadow;
  background: $header_bg;
  .header_wrapper{
    nav{
      ul{
        li{
          a{
            color: black;
            &:hover{
              color: $hover_color;
            }
          }
        }
      }
    }
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after{
    background:$bar_bg ;
    transition: 1.5s;
  }
}
#menu-toggle {
  display: none;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

#menu-toggle:checked + .header_wrapper nav{
  display: flex;
}

#menu-toggle:checked ~ nav  {
  display: flex;
}

a:active ~ nav {
  display: none;
}


