@media (max-width: 1250px){
  .result{
    .item{
      width: 31%;
      height: 22.5%;
    }
  }
  .result_info{
    height: 1000px;
  }
}
@media (max-width: 1024px){
  .hide_slide{
    display: block;
  }
  .result{
    h2{
      text-align: center;
    }
    h4{
      font-size: 18px;
      line-height: inherit;
    }
    h3{
      font-size: 30px;
      line-height: inherit;
    }
    .line{
      display: none;
    }
    .result_info{
      nav{
        display: none;
      }
    }
    .item{
      width: 31%;
    }
    .block_items{
      width: 100%;
    }
  }
}

@media (max-width: 767px){
  .result{
    .block_items{
      width: 100%;
      height: 100%;
    }
    .more{
      display: flex;
      a{
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        color: #1B1B1F;
      }
    }
    .item{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 48%;
      margin-bottom: 3%;

    }
    .show{
      display: none;
    }
  }
  .result_info{
    display: block;
    height: 100%;
  }
}

@media (max-width: 567px){
  .result{
    padding: 40px 0;
    h3{
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
    }
    h4{
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
    }
    p{
      font-weight: 400;
      font-size: 10px;
      line-height: 13px;
    }
    .item{
      width: 47%;
      margin-bottom: 6%;
      height: 32%;
    }
    a{
      font-size: 12px;
      line-height: 15px;
    }
    h2{
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 16px;
    }
    .hide_slide{
      margin-bottom: 32px;
    }
  }
}

