.result{
  padding-top: 80px;
  &_wrapper{

  }
  h2{
    @extend %h2;
    padding-bottom: 40px;
  }
  &_info{
    display: flex;
  }
  nav{
    width: 20%;
  }
  li{
    padding-bottom: 40px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  a{
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: $text_color;
    transition: 1s;
    &:hover{
      color: $hover_color;
    }
  }
  .line{
    width: 8px;
    border-radius: 12px;
    background: $main_pageColor;
    margin: 0 40px;
  }
  .block_items{
    width: 73%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .item{
    width: 23%;
    background: #FFFFFF;
    box-shadow: 0 8px 24px rgba(127, 129, 182, 0.24);
    border-radius: 24px;
    text-align: center;
    height: 30%;
    //margin-bottom: 3.5%;
  }
  h3{
    padding-top: 24px;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    color: $text_color;
  }
  h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 31px;
    color: $text_color;
    padding-bottom: 16px;
  }
  p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $text_color;
    padding: 0 30px 24px;
  }
}

.hide_slide{
  display: none;
}
.swiper-slide{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $text_color;
  padding: 8px 0;
  border: 1px solid $main_pageColor;
  border-radius: 16px;
  margin: 0 8px;
}