.info{
  padding-top: 85px;
  &_wrapper{
    display: flex;
    justify-content: space-between;
  }
  &_article{
    width: 54%;
    h1{
      font-weight: 700;
      font-size: 32px;
      line-height: 41px;
      text-transform: uppercase;
      color: $text_color;

    }
    p{
      color: $text_color;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      padding: 15px 0 40px 0;
    }
    div{
      display: flex;
    }
  }
  .btn{
    @extend %btn;
    padding: 20px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 21px;
    transition: 1s;
    margin-right: 40px;
  }
  .detail{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $text_color;
    //border-radius: 47.5px;
    //transition: 1s;
    //&:hover{
    //  background-color: $main_pageColor;
    //}
  }
  span{
    padding-right: 10px;
  }
  &_img{

  }
}