@media (max-width: 1250px){
  .info{
    padding-top: 170px;
    .info_article{
      width: 63%;
    }
  }
  .info_img{
    width: 35%;
  }
}
@media (max-width: 1024px){
  .info_wrapper{
    display: block;
  }
  .info{
    .info_article{
      width: 100%;
      padding-bottom: 40px;
      div{
        justify-content: space-between;
      }
      h1{
        font-size: 25px;
        line-height: 38px;
      }
    }
    .info_img{
      width: 65%;
      margin: 0 auto;
    }
  }
}
@media (max-width: 767px){
  .info{
    padding-top: 130px;
    .info_article{
      h1{
        font-size: 20px;
        line-height: 28px;
      }
      p{
        font-size: 15px;
        line-height: 19px;
      }
    }
    .btn{
      padding: 15px 40px;
      font-size: 12px;
    }
  }
}

@media (max-width: 567px){
  .info{
    .info_article{
      h1{
        font-size: 14px;
        line-height: 18px;
      }
      p{
        font-size: 12px;
        line-height: 15px;
      }
    }
    .btn{
      font-size: 14px;
      line-height: 18px;
      padding: 12px 32px;
    }
    .detail{
      .media{
        display: none;
      }
      span{
        font-size: 14px;
        line-height: 15px;
      }
    }
  }
}