//body{
//  overflow: hidden;
//}
.container{
  max-width: 1250px;
  margin: 0 auto;
}
html{
  scroll-behavior: smooth;
}

%shadow{
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
}

%h2{
  font-size: 25px;
  font-weight: 500;
  color: $main_page_color;
}

%h3{
  font-size: 40px;
  font-weight: 800;
}

%about_line{
  width: 80%;
  background: $about_line_color;
  margin: 0 auto;
  height: 3px;
}

%portfolio_line{
  height: 2px;
  background: $main_page_color;
}