$main_page_color:#4169e1;
$header_bg:white;
$bar_bg: black;
$text_color: white;
$hover_color: $main_page_color;
$home_bg:black;
$home_color:white;
$arrow_color:white;
$portfolio_color:white;
$portfolio_color_nav:black;
