.taskWrapper {
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
    padding: 20px;
    margin-bottom: 20px;
}

.taskHeading {
    font-size: 20px;
    margin-bottom: 15px;
}

.taskDescription {
    font-size: 16px;

}

#deleteForm button{
    background-color: red;!important;
    border: red;!important;
}
.taskDescription{
    margin-bottom: 15px;
}

label{
    display: block;
    margin-bottom: 15px;
}

.wrapper{
    background-color: #ccc;
    border-radius: 10px;
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, .2);
}

.wrapper label{
    text-align: center;
    font-weight: 500;
}