.experience{
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
  &_title{
    text-align: center;
    padding-bottom: 50px;
  }
  h2{
    @extend %h2;
  }
  h3{
    @extend %h3;
    padding-bottom: 30px;
  }
  p{
    font-size: 21px;
    max-width: 70%;
    margin: 0 auto;
    a{
      color: $main_page_color;
      text-decoration: none;
    }
  }

  &_slider{
    min-height: 600px;
    height: 75vh;
    .swiper{
      height: 90%;
      .swiper-wrapper{
        .swiper-slide{
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            max-width: 80%;
            border-radius: 20px;
            height: 80%;
          }
        }
      }
      .btn{
        color:$main_page_color;
      }
    }
  }
  .swiper-pagination-progressbar-fill{
    background: $main_page_color;
  }

}