.blog{
  padding: 82px 0;
  &_wrapper{
    max-width: 400px;
    margin: 0 auto;
  }
  .item{
    position: relative;
    &:first-child{
      padding-bottom: 24px;
    }
  }
  .blog_items{
    gap: 24px;
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-direction: column;
  }
  .item_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 264px;
    margin-top: 20px;

    border-radius: 16px 16px 0 16px;

    background: var(--blog_bg);
  }
  &_img{
    position: absolute;
    right: 0;
    top: -20px;

    height: 160px;
    width: 259px;
  }
  .article{
    display: flex;
    justify-content: space-between;
    padding: 0 0 16px 12px;
  }
  .article_text{
    padding-left: 8px;
    max-width: 270px;
  }
  .number_bar{
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
  }
  &_form{
    display: flex;
    flex-direction: column;
  }
  .form_item {
    padding: 14px 12px;
    margin-bottom: 12px;

    border: none;
    border-radius: 22px;

    background: var(--input_bg);
    }

  .form_item:focus    {  outline: 2px solid var(--form_valid); }
  .form_item:invalid  {  outline: 2px solid var(--form_invalid);  }
  .article_img        {  height: 48px;  }
  .card_name          {  padding: 24px 0 0 24px;  }
  .card_info          {  padding: 0 28px 12px 0;  }
  &_cards             {  padding:48px 0 80px;  }
  .form_email         {  margin-bottom: 28px;  }
}
@media (min-width: $media_md) {
  .blog{
    &_cards{
      display: flex;
      justify-content: space-between;
    }
    .number_bar{
      flex-direction: column;
      justify-content: space-between;
      padding-top: 0;
    }
    &_form{
      max-width: 420px;
      margin: 0 auto;
    }
    .btn                {  margin: 0 auto;  }
    .blog_img           {  top: 0;  }
    .blog_items         {  flex-direction: row; gap: 0 }
     &_wrapper          {  max-width: 100%;  }
    .item_info          {  margin-top: 24px;  }
    .item:first-child   {  padding-bottom: 0;  }
  }
}
@media (min-width: $media_lg) {
  .blog{
    padding: 101px 0 82px;
    .article{
      justify-content: initial;
      padding: 0 0 19px 16px;
    }
    .blog_img           {  width: 328px;  }
    .article_text       {  padding-left: 24px;  }
    .blog_cards         {  justify-content: initial;  }
    .card_name          {  padding: 21px 0 0 32px;  }
    .item_info          {  width: 415px;  }
    .item:nth-child(1)  {  margin-right: 20px;  }
    .item:nth-child(2)  {  margin-right: 108px;  }
  }
}