.home{
  &_wrapper{
    display: flex;
    flex-direction: column-reverse;
  }
  .image_group{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;

    min-height: 425px;
    .home_bg{
      position: absolute;
      &:first-child{
        z-index: 1;

        max-width: 375px;
        padding-top: 48px;
      }
      &:last-child    {  padding-left: 20px;  }
    }
  }
  .logo_group{
    display: flex;
    flex-wrap: wrap;
    padding:40px 23px 0;
    gap: 16px 0;
    .logo_item{
      display: flex;
      align-items: center;
    }
  }
  .article_text{
    max-width: 300px;
    padding: 32px 0 40px;
  }
  .button_primary   {  margin-right: 20px;  }
}
@media (min-width: $media_md) {
  .home{
    .image_group{
      justify-content: end;
      width: 135%;
    }
    .article_text         { max-width: 100%; }
    .article              {  padding: 100px 0 0 24px;  }
    &_wrapper             {  flex-direction: row;  }
    .home_bg:first-child  {  right: 10%;  }
  }
}
@media (min-width: $media_lg) {
  .home{
    background-image: url("../../../assets/images/01_home_bg.png");
    background-repeat: no-repeat;
    background-position-x: -100%;

    max-width: 850px;
    margin:  0 auto;
    .image_group{
      position: absolute;
      right: 0;

      width: 100%;
      .home_bg:first-child{
        max-width: 100%;
        padding: 0;

        transform: translate(-47px, 65px);
      }
      .home_bg:last-child    {  padding: 0;  }
    }
    .article{
      margin-left: 0;
      padding: 200px 0 0;
      max-width: 370px;
    }
    .logo_group   {  padding: 100px 0 0;  }
  }
}