.contact{
  font-family: "Poppins", sans-serif;
  padding: 30px 0 60px;
  &_title{
    width: 60%;
    padding-bottom: 50px;
  }
  p{
    font-size: 22px;
    a{
      color: $main_page_color;
      text-decoration: none;
    }
  }
  h2{
    @extend %h2;
  }
  h3{
    @extend %h3;
  }

  &_input_group{
    display: flex;
    justify-content: space-between;
  }

  &_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    input{
      transition: 1.5s;
      padding: 15px 0 15px 25px;
      border-radius: 5px;
      background: $input_bg;
      border: none;
      &:focus:not(:last-child){
        background-color: $input_bg_focus;
        border-color: $main_page_color;
        outline: 0;
      }
    }
    .btn {
      @extend %btn;
      height: 62px;
      &:hover {
        @extend %btn_hover;
      }
      &:focus {
        color: $main_page_color;
        background: white;
      }
    }
  }
  &_right{
    width: 35%;
    img{
      height: 380px;
      border-radius: 5px;
      width: 100%;
    }
  }
}
//
//#message{
//  &:focus{
//    box-shadow: rgb(13 110 253 / 25%) 0 0 0 0.25rem;
//    background: rgb(232, 240, 254);
//  }
//}