@media (max-width: 1250px){
  .help{
    .item{
      padding: 40px 15px;
    }
  }
}
@media (max-width: 1024px){
  .help{
    padding-top: 50px;
    .item{
      width: 100%;
    }
    h2{
      text-align: center;
      padding-bottom: 16px;
    }
    .help_article{
      text-align: center;
      flex-direction: column;
      .article_left{
        width: 100%;
        padding-bottom: 16px;
      }
      .article_right{
        text-align: center;
      }
    }
    .help_items{
      padding-top: 40px;
    }
  }
}

@media (max-width: 576px){

  .help{
    padding-top: 40px;
    h2{
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
    }
    .help_article{
     p{
       font-size: 12px;
       line-height: 15px;
     }
    }
    .help_items{
      padding-top: 20px;
      .item{
        padding: 32px 12px;
        margin-bottom: 16px;
        h3{
          font-size: 12px;
          line-height: 15px;
        }
        p{
          font-size: 12px;
          line-height: 15px;
          padding: 4px 0 8px;
        }
        .btn{
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          padding: 8px 16px;
        }
        img{
          height: 88px;
        }
      }
    }
    .help_desktop{
      display: none;
    }
    .help_mobile{
      display: block;
    }
  }
}