//$primary_color:#1B63F0;
:root{
  --header_line: #3D7FFF;
  --header_burger_active: black;

  --primary_color: #1B63F0;
  --primary_color_hover: #3D7FFF;
  --primary_color_active: #175EE9;

  --primary_second_color: #97F5CD;
  --primary_second_hover: #C0FFE4;
  --primary_second_active: #83EBBF;

  --form_send_bg: #64BE97;
  --form_send_bg_hover: #25DE8E;
  --form_send_bg_active: #4DDA9D ;

  --text_color:black;
  --text_color_secondary: white;
  --text_color_paragraph:#5C5C5C;
  --text_color_input: #5C5C5C;
  --text_color_footer: #5C5C5C;
  --logo_hover:black;

  --text_color_first: #91A3ED;
  --text_color_second: #F0C41B;
  --text_color_third: #FE5F60;
  --text_color_fourth: #5D74E4 ;

  --swipe_btn_color: #64BE97;
  --swipe_btn_bg: white;
  --swipe_btn_shadow: #E2EDFB;
  --swipe_btn_active:#55B089;

  --customer_btn_bg: #BAD1FF;
  --customer_btn_bg_active: #1B63F0;

  --featured_bg: #FFF9F1;
  --featured_color: #F6F2E9;

  --blog_bg: #D6FAE7;

  --button_num_bg: white;
  --button_num_bg_active: #64BE97;

  --input_bg: #F3F6FC;

  --navigation_icon_color: black;
  --navigation_icon_hover: #97F5CD;
  --navigation_text_hover: #97F5CD;

  --foter_hover: #1B63F0;
  //--button_color:
}