//$primary_color:#1B63F0;
:root{
  --primary_color: #1B63F0;
  --primary_color_hover: #3D7FFF;
  --primary_color_active: #175EE9;

  --primary_second_color: #97F5CD;
  --primary_second_hover: #C0FFE4;
  --primary_second_active: #83EBBF;

  --form_send_bg: #64BE97;
  --form_send_bg_hover: #25DE8E;
  --form_send_bg_active: #4DDA9D ;

  --text_color:black;
  --text_color_secondary: white;
  --text_color_paragraph:#5C5C5C;
  --text_color_input: #5C5C5C;
  --text_color_footer: #5C5C5C;
  --logo_hover:black;

  --text_color_first: #91A3ED;
  --text_color_second: #F0C41B;
  --text_color_third: #FE5F60;
  --text_color_fourth: #5D74E4 ;
  --featured_color: #F6F2E9;

  --swipe_btn_color: #64BE97;
  --swipe_btn_bg: white;
  --swipe_btn_shadow: #E2EDFB;
  --swipe_btn_active:#55B089;
  //--button_color:
}