//$primary_color:#1B63F0;
:root{
  --primary_color: #1B63F0;
  --primary_color_hover: #3D7FFF;
  --primary_color_active: #175EE9;

  --primary_second_color: #97F5CD;
  --primary_second_hover: #C0FFE4;
  --primary_second_active: #83EBBF;

  --form_send_bg: #64BE97;
  --form_send_bg_hover: #25DE8E;
  --form_send_bg_active: #4DDA9D ;

  --text_color:black;
  --text_color_secondary: white;
  --logo_hover:black;
  //--button_color:
}