body{
    font-family: "TT Firs Neue",sans-serif;
    height: 5000px;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
%btn{
    font-weight: 700;
    color: $btn_color;
    background: $main_pageColor;
    border: 2px solid $main_pageColor;
    text-decoration: none;
    border-radius: 47.5px;
    &:hover{
        background: $btn_hover;
        color: $main_pageColor;
    }
}
%shadow{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}