body{
    font-family: "TT Firs Neue",sans-serif;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
%btn{
    font-weight: 700;
    color: $btn_color;
    background: $main_pageColor;
    border: 2px solid $main_pageColor;
    text-decoration: none;
    border-radius: 47.5px;
    &:hover{
        background: $btn_hover;
        color: $main_pageColor;
    }
}