body{
    font-family: "TT Firs Neue",sans-serif;
    height: 5000px;
    transition: 1.5s;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
%btn{
    font-weight: 700;
    color: $btn_color!important;
    background: $main_pageColor;
    text-decoration: none;
    border-radius: 47.5px;
    &:hover{
        background: $hover_color;
    }
}
%shadow{
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
}
%h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $text_color;
}
%more{
    .more{
        display: none;
        justify-content: center;
        a{
            display: flex;
            align-items: center;
        }
        .more_line{
            width: 24px;
            height: 4px;
            background: $main_pageColor;
            border-radius: 2px;
            margin: 0 8px;
        }
    }
}