footer{
  .footer-wrapper{
    p{

    }
    nav{
      ul{
        li{
          a{
            img{

            }
          }
        }
      }
    }
  }
}
footer{
  padding: 30px 0 15px 0;
  background-color: #313030;
  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #b8b8b8;
    }
    nav {
      ul {
        display: flex;
        li {
          list-style: none;
          &:not(:last-child) {
            padding-right: 15px;
          }
          a {
            img {
              width: 35px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}