@media (max-width: 767px){
  .bank_data{
    .bank_data_info{
      padding: 0;
      box-shadow: none;
    }
    .bank_data_numbers{
      display: none;
    }
    span{
      display: initial;
    }
    p{
      font-weight: 300;
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 20px;
      &:nth-child(3){
        padding-bottom: 20px;
      }
    }
    h2{
      font-size: 14px;
      line-height: 18px;
      padding-bottom: 32px;
    }
    .blue{
      font-weight: 500;
      color: $hover_color;
    }
    .block{
      display: block;
    }
  }
}