@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "TT Firs Neue", sans-serif;
  height: 5000px;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.info .btn, .header_btn {
  font-weight: 700;
  color: white;
  background: #376AC5;
  text-decoration: none;
  border-radius: 47.5px;
}
.info .btn:hover, .header_btn:hover {
  background: #0B2B81;
}

.hide {
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

.news h2, .result h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #1B1B1F;
}

.news .more, .result .more {
  display: none;
  justify-content: center;
}
.news .more a, .result .more a {
  display: flex;
  align-items: center;
}
.news .more .more_line, .result .more .more_line {
  width: 24px;
  height: 4px;
  background: #376AC5;
  border-radius: 2px;
  margin: 0 8px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s;
}
.header_wrapper {
  transition: 1s;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 136px;
}
.header_logo {
  display: flex;
  justify-content: space-between;
}
.header_logo .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_logo .img:nth-child(3) {
  padding: 0 16px;
}
.header_logo .sign {
  width: 24px;
}
.header_nav {
  position: relative;
}
.header_nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.header_nav li {
  list-style: none;
}
.header_nav li:not(:last-child) {
  padding-right: 40px;
}
.header_nav a {
  color: #1B1B1F;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  display: flex;
  align-items: center;
  transition: 1s;
}
.header_nav a:hover {
  color: #376AC5;
}
.header_nav img {
  padding-left: 10px;
}
.header .line {
  background: #376AC5;
  height: 3px;
  position: absolute;
  width: 100%;
  margin-top: 25px;
  border-radius: 20px;
}
.header_btn {
  padding: 16px 40px;
  transition: 1s;
}
.header .img_media {
  display: none;
}

.hide {
  background: white;
}

.fix_head {
  height: 112px;
}

.lang_media {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  transition: 1.5s;
}

#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

#menu-toggle:checked + .header_wrapper nav {
  display: flex;
}

#menu-toggle:checked ~ nav {
  display: flex;
}

a:active ~ .header_nav {
  display: none;
}

@media (max-width: 1250px) {
  .header_btn {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .logo {
    display: none;
  }
  .header .img_media {
    display: block;
  }
  .header .line {
    margin-top: 15px;
  }

  .header_wrapper {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .header_wrapper {
    height: 80px;
  }

  .header_nav {
    display: none;
    position: absolute;
  }

  .menu-button-container {
    display: flex;
  }

  .line {
    display: none;
  }

  .header .lang {
    display: block;
  }
}
@media (max-width: 576px) {
  .header {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
  }

  .header_wrapper {
    background: white;
    height: 60px;
  }

  .sign {
    width: 25px;
  }

  .right_side {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.info {
  padding-top: 221px;
}
.info_wrapper {
  display: flex;
  justify-content: space-between;
}
.info_article {
  width: 54%;
}
.info_article h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #1B1B1F;
}
.info_article p {
  color: #1B1B1F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 0 40px 0;
}
.info_article span {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.info_article div {
  display: flex;
}
.info .btn {
  padding: 20px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  transition: 1s;
  margin-right: 40px;
}
.info .detail {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1B1B1F;
}
.info span {
  padding-right: 10px;
}
@media (max-width: 1250px) {
  .info {
    padding-top: 170px;
  }
  .info .info_article {
    width: 63%;
  }

  .info_img {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .info_wrapper {
    display: block;
  }

  .info {
    padding-top: 160px;
  }
  .info .info_article {
    width: 100%;
    padding-bottom: 40px;
  }
  .info .info_article div {
    justify-content: space-between;
  }
  .info .info_article h1 {
    font-size: 25px;
    line-height: 38px;
  }
  .info .info_img {
    width: 65%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .info {
    padding-top: 100px;
  }
  .info .info_article h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .info .info_article p {
    font-size: 15px;
    line-height: 19px;
  }
  .info .btn {
    padding: 15px 40px;
    font-size: 12px;
  }
}
@media (max-width: 567px) {
  .header_logo img {
    width: 35px;
  }
  .header_logo .sign {
    width: 20px;
  }

  .info {
    padding-top: 90px;
  }
  .info .info_article h1 {
    font-size: 14px;
    line-height: 18px;
  }
  .info .info_article p {
    font-size: 12px;
    line-height: 15px;
  }
  .info .btn {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 32px;
    margin: 0;
  }
  .info .detail .media {
    display: none;
  }
  .info .detail span {
    font-size: 14px;
    line-height: 15px;
  }
}
.result {
  padding: 80px 0;
}
.result h2 {
  padding-bottom: 40px;
}
.result_info {
  display: flex;
}
.result nav {
  width: 20%;
}
.result li {
  padding-bottom: 40px;
}
.result li:last-child {
  padding-bottom: 0;
}
.result a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
  transition: 1s;
}
.result a:hover {
  color: #0B2B81;
}
.result .line {
  width: 8px;
  border-radius: 12px;
  background: #376AC5;
  margin: 0 40px;
}
.result .block_items {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.result .item {
  width: 23%;
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(127, 129, 182, 0.24);
  border-radius: 24px;
  text-align: center;
  height: 30%;
}
.result h3 {
  padding-top: 24px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #1B1B1F;
}
.result h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #1B1B1F;
  padding-bottom: 16px;
}
.result p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1B1B1F;
  padding: 0 30px 24px;
}

.hide_slide {
  display: none;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1B1B1F;
  padding: 8px 0;
  border: 1px solid #376AC5;
  border-radius: 16px;
  margin: 0 8px;
}

@media (max-width: 1250px) {
  .result .item {
    width: 31%;
    height: 22.5%;
  }

  .result_info {
    height: 1000px;
  }
}
@media (max-width: 1024px) {
  .hide_slide {
    display: block;
  }

  .result h2 {
    text-align: center;
  }
  .result h4 {
    font-size: 18px;
    line-height: inherit;
  }
  .result h3 {
    font-size: 30px;
    line-height: inherit;
  }
  .result .line {
    display: none;
  }
  .result .result_info nav {
    display: none;
  }
  .result .item {
    width: 31%;
  }
  .result .block_items {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .result .block_items {
    width: 100%;
    height: 100%;
  }
  .result .more {
    display: flex;
  }
  .result .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    margin-bottom: 3%;
  }
  .result .show {
    display: none;
  }

  .result_info {
    display: block;
    height: 100%;
  }
}
@media (max-width: 567px) {
  .result h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  .result h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .result p {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
  }
  .result .item {
    width: 47%;
    margin-bottom: 6%;
    height: 32%;
  }
  .result a {
    font-size: 12px;
    line-height: 15px;
  }
  .result h2 {
    font-size: 18px;
    line-height: 18px;
  }
}
.news h2 {
  padding-bottom: 60px;
}
.news_item {
  justify-content: space-between;
  display: flex;
  margin-bottom: 80px;
}
.news .article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 49%;
}
.news .date {
  display: flex;
  width: 15%;
  justify-content: end;
}
.news h3 {
  color: #0B2B81;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}
.news h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
}
.news p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1B1F;
}
.news .date {
  color: #1B1B1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.news .news_show {
  display: none;
}
.news .more {
  display: flex;
}
.news .more a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
}

@media (max-width: 1024px) {
  .news h2 {
    text-align: center;
  }
  .news .date {
    display: none;
  }
  .news .news_hide {
    display: none;
  }
  .news .news_show {
    display: block;
    font-weight: 700;
  }
  .news img {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .news img {
    width: 40%;
  }
  .news h3 {
    font-size: 20px;
  }
  .news h4 {
    font-size: 17px;
  }
}
@media (max-width: 567px) {
  .news .news_item {
    padding-bottom: 50px;
  }
  .news img {
    width: 45%;
  }
  .news h2 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 40px;
  }
  .news h3 {
    font-size: 12px;
    line-height: 15px;
  }
  .news h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .news p {
    font-size: 10px;
    line-height: 13px;
  }
  .news span {
    font-size: 12px;
    line-height: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
