@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "TT Firs Neue", sans-serif;
  height: 5000px;
  transition: 1.5s;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.help .item a, .info .btn, .header_btn {
  font-weight: 700;
  color: white !important;
  background: #376AC5;
  text-decoration: none;
  border-radius: 47.5px;
}
.help .item a:hover, .info .btn:hover, .header_btn:hover {
  background: #0B2B81;
}

.help h2, .news h2, .result h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  color: #1B1B1F;
}

.news .more, .result .more {
  display: none;
  justify-content: center;
}
.news .more a, .result .more a {
  display: flex;
  align-items: center;
}
.news .more .more_line, .result .more .more_line {
  width: 24px;
  height: 4px;
  background: #376AC5;
  border-radius: 2px;
  margin: 0 8px;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1s;
  background: white;
  padding: 40px 0 16px 0;
}
.header_wrapper {
  transition: 1s;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header_logo {
  display: flex;
  justify-content: space-between;
}
.header_logo .img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_logo .img:nth-child(3) {
  padding: 0 16px;
}
.header_logo .sign {
  width: 24px;
}
.header_nav {
  transition: 1s;
  position: relative;
}
.header_nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.header_nav li {
  list-style: none;
  padding-right: 40px;
}
.header_nav li:nth-child(3), .header_nav li:last-child {
  padding-right: 0;
}
.header .line {
  background: #376AC5;
  height: 3px;
  top: 40px;
  position: absolute;
  width: 100%;
  border-radius: 20px;
}
.header_btn {
  padding: 16px 40px;
  transition: 1s;
}
.header .img_media {
  display: none;
}
.header .drop_navbar,
.header .mobile_nav_language_media {
  margin-top: 24px;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: end;
  z-index: 10;
  position: absolute;
  background: white;
  padding-bottom: 16px;
  box-shadow: 0px 8px 24px rgba(127, 129, 182, 0.24);
  border-radius: 0 0 20px 16px;
  transition: 1s;
}
.header .drop_navbar a,
.header .mobile_nav_language_media a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  padding: 12px 16px 0;
  cursor: pointer;
  color: #1B1B1F;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: 1s;
}
.header .header_nav_show {
  display: block;
  opacity: 1;
  visibility: visible;
}
.header .drop_button,
.header .header_contact {
  cursor: pointer;
  color: #1B1B1F;
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  line-height: 18px;
  display: flex;
  align-items: center;
  transition: 1s;
}
.header .nav_language {
  right: 0;
}
.header .nav_language a {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}
.header .arrow {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid black;
  border-width: 0px 4px 4px 0;
  display: inline-block;
  padding: 4px;
  height: inherit;
  border-radius: 3px;
  margin: 0 0 8px 10px;
  transition: 0.2s;
}
.header .arrow_rotate {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  margin: 2px 0 0 10px;
}
.header input {
  display: none;
}
.header .drop_language {
  right: 0;
}
.header .drop_language a {
  font-size: 14px;
  line-height: 18px;
}

.fix_head {
  padding: 30px 0;
}

.header_mobile,
.mobile_nav_social {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  transition: 1.5s;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: 1.5s;
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

#menu-toggle:checked + .header_wrapper nav,
#menu-toggle:checked ~ nav,
a:active ~ .header_nav {
  display: block;
}

@media (max-width: 1250px) {
  .header .header_btn {
    display: none;
  }
}
@media (max-width: 1024px) {
  .header .logo {
    display: none;
  }
  .header .img_media {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu-toggle:checked + .header_wrapper nav {
    display: flex;
    justify-content: end;
  }

  #menu-toggle:checked ~ nav {
    display: flex;
    justify-content: end;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .header_nav {
    margin-top: 64px;
    display: none;
    justify-content: end;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    transition: 1s;
    background: rgba(0, 0, 0, 0.2);
  }
  .header_nav ul {
    padding: 12px 10px 0 0;
    background: white;
    flex-direction: column;
    width: 65%;
  }
  .header_nav ul li {
    padding-right: 0 !important;
    padding: 12px 0;
    width: 200px;
  }
  .header_nav ul li:last-child {
    display: none;
  }
  .header_nav ul li a {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    justify-content: end;
  }
  .header_nav img {
    padding-right: 8px;
  }
  .header_nav .drop_menu {
    justify-content: end;
    font-weight: 700;
  }

  .menu-button-container {
    display: flex;
  }

  .line {
    display: none;
  }

  .header {
    padding: 16px 0;
  }
  .header .drop_navbar {
    position: static;
    display: none;
    padding: 0;
    margin: 0;
    box-shadow: none;
  }
  .header .drop_navbar a {
    padding: 12px 0 0;
  }
  .header .drop_button {
    font-weight: 700;
  }
  .header .header_nav_show {
    display: block;
  }
  .header .lang {
    display: block;
  }
  .header .mobile_nav {
    display: flex;
  }
  .header .mobile_nav_language_media {
    right: initial;
    transform: translateX(-10px);
    margin-top: 15px;
  }

  .header_mobile {
    display: block;
    position: absolute;
    right: 10%;
  }

  .mobile_nav_social {
    display: flex;
    justify-content: end;
  }
  .mobile_nav_social a {
    padding-right: 8px;
  }
  .mobile_nav_social a:last-child {
    padding-right: 0;
  }

  .header_wrapper {
    position: relative;
  }

  .drop_menu {
    display: flex;
    align-items: center;
  }
  .drop_menu p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  #drop_menu_language_mobile:checked ~ .mobile_nav_language_media {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  #drop_menu_language_mobile:checked ~ .drop_menu .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 2px 0 0 10px;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 0;
  }
  .header .drop_navbar a {
    font-size: 14px;
    line-height: 18px;
  }
  .header .mobile_nav_language_media {
    margin-top: 20px;
  }
  .header .header_mobile {
    right: 0;
    margin-right: 52px;
  }
  .header .menu-button, .header .menu-button::before, .header .menu-button::after {
    width: 24px;
  }

  .header_wrapper {
    background: white;
    height: 60px;
  }

  .sign {
    width: 25px;
  }

  .right_side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header_nav {
    margin-top: 60px;
  }
}
.info {
  padding-top: 176px;
}
.info_wrapper {
  display: flex;
  justify-content: space-between;
}
.info_article {
  width: 54%;
}
.info_article h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  text-transform: uppercase;
  color: #1B1B1F;
}
.info_article p {
  color: #1B1B1F;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 15px 0 40px 0;
}
.info_article span {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.info_article div {
  display: flex;
}
.info .btn {
  padding: 20px 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 21px;
  transition: 1s;
  margin-right: 40px;
}
.info .detail {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1B1B1F;
}
.info span {
  padding-right: 10px;
}
@media (max-width: 1250px) {
  .info {
    padding-top: 170px;
  }
  .info .info_article {
    width: 63%;
  }

  .info_img {
    width: 35%;
  }
}
@media (max-width: 1024px) {
  .info_wrapper {
    display: block;
  }

  .info {
    padding-top: 160px;
  }
  .info .info_article {
    width: 100%;
    padding-bottom: 40px;
  }
  .info .info_article div {
    justify-content: space-between;
  }
  .info .info_article h1 {
    font-size: 25px;
    line-height: 38px;
  }
  .info .info_img {
    width: 65%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .info {
    padding-top: 100px;
  }
  .info .info_article h1 {
    font-size: 20px;
    line-height: 28px;
  }
  .info .info_article p {
    font-size: 15px;
    line-height: 19px;
  }
  .info .btn {
    padding: 15px 40px;
    font-size: 12px;
  }
}
@media (max-width: 567px) {
  .header_logo img {
    width: 35px;
  }
  .header_logo .sign {
    width: 20px;
  }

  .info {
    padding-top: 84px;
  }
  .info .info_article {
    padding-bottom: 24px;
  }
  .info .info_article h1 {
    font-size: 14px;
    line-height: 18px;
  }
  .info .info_article p {
    font-size: 12px;
    line-height: 15px;
    padding: 12px 0 24px 0;
  }
  .info .btn {
    font-size: 14px;
    line-height: 18px;
    padding: 12px 32px;
    margin: 0;
  }
  .info .detail .media {
    display: none;
  }
  .info .detail span {
    font-size: 14px;
    line-height: 15px;
  }
}
.result {
  padding: 80px 0;
}
.result h2 {
  padding-bottom: 40px;
}
.result_info {
  display: flex;
}
.result nav {
  width: 20%;
}
.result li {
  padding-bottom: 40px;
}
.result li:last-child {
  padding-bottom: 0;
}
.result a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
  transition: 1s;
}
.result a:hover {
  color: #0B2B81;
}
.result .line {
  width: 8px;
  border-radius: 12px;
  background: #376AC5;
  margin: 0 40px;
}
.result .block_items {
  width: 73%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.result .item {
  width: 23%;
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(127, 129, 182, 0.24);
  border-radius: 24px;
  text-align: center;
  height: 30%;
}
.result h3 {
  padding-top: 24px;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  color: #1B1B1F;
}
.result h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #1B1B1F;
  padding-bottom: 16px;
}
.result p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #1B1B1F;
  padding: 0 30px 24px;
}

.hide_slide {
  display: none;
  margin-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #1B1B1F;
  padding: 8px 0;
  border: 1px solid #376AC5;
  border-radius: 16px;
  margin: 0 8px;
}

@media (max-width: 1250px) {
  .result .item {
    width: 31%;
    height: 22.5%;
  }

  .result_info {
    height: 1000px;
  }
}
@media (max-width: 1024px) {
  .hide_slide {
    display: block;
  }

  .result h2 {
    text-align: center;
  }
  .result h4 {
    font-size: 18px;
    line-height: inherit;
  }
  .result h3 {
    font-size: 30px;
    line-height: inherit;
  }
  .result .line {
    display: none;
  }
  .result .result_info nav {
    display: none;
  }
  .result .item {
    width: 31%;
  }
  .result .block_items {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .result .block_items {
    width: 100%;
    height: 100%;
  }
  .result .more {
    display: flex;
  }
  .result .more a {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #1B1B1F;
  }
  .result .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    margin-bottom: 3%;
  }
  .result .show {
    display: none;
  }

  .result_info {
    display: block;
    height: 100%;
  }
}
@media (max-width: 567px) {
  .result {
    padding: 40px 0;
  }
  .result h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  .result h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  .result p {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
  }
  .result .item {
    width: 47%;
    margin-bottom: 6%;
    height: 32%;
  }
  .result a {
    font-size: 12px;
    line-height: 15px;
  }
  .result h2 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 16px;
  }
  .result .hide_slide {
    margin-bottom: 32px;
  }
}
.news h2 {
  padding-bottom: 60px;
}
.news_item {
  justify-content: space-between;
  display: flex;
  margin-bottom: 80px;
}
.news .article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 49%;
}
.news .date {
  display: flex;
  width: 15%;
  justify-content: end;
}
.news h3 {
  color: #0B2B81;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
}
.news h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
}
.news p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1B1B1F;
}
.news .date {
  color: #1B1B1F;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.news .news_show {
  display: none;
}
.news .more {
  display: flex;
}
.news .more a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #1B1B1F;
}

@media (max-width: 1024px) {
  .news h2 {
    text-align: center;
  }
  .news .date {
    display: none;
  }
  .news .news_hide {
    display: none;
  }
  .news .news_show {
    display: block;
    font-weight: 700;
  }
  .news img {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .news img {
    width: 40%;
  }
  .news h3 {
    font-size: 20px;
  }
  .news h4 {
    font-size: 17px;
  }
}
@media (max-width: 567px) {
  .news .news_item {
    margin-bottom: 40px;
  }
  .news img {
    width: 45%;
  }
  .news h2 {
    font-size: 18px;
    line-height: 18px;
    padding-bottom: 16px;
  }
  .news h3 {
    font-size: 12px;
    line-height: 15px;
  }
  .news h4 {
    font-size: 12px;
    line-height: 15px;
  }
  .news p {
    font-size: 10px;
    line-height: 13px;
  }
  .news span {
    font-size: 12px;
    line-height: 15px;
  }
}
.help {
  padding-top: 80px;
}
.help h2 {
  padding-bottom: 24px;
}
.help_article {
  display: flex;
  justify-content: space-between;
}
.help_article .article_left {
  width: 40%;
}
.help_article .article_right {
  text-align: end;
}
.help_article p {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}
.help_article a {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #0B2B81;
}
.help_items {
  padding-top: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.help .item {
  box-shadow: 0px 8px 24px rgba(127, 129, 182, 0.24);
  border-radius: 24px;
  width: 48%;
  margin-bottom: 32px;
  display: flex;
  padding: 40px 30px;
}
.help .item .item_text {
  padding-left: 20px;
}
.help .item h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.help .item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 8px 0 32px;
}
.help .item a {
  transition: 1s;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 24px;
}
.help .help_mobile {
  display: none;
}

@media (max-width: 1250px) {
  .help .item {
    padding: 40px 15px;
  }
}
@media (max-width: 1024px) {
  .help {
    padding-top: 50px;
  }
  .help .item {
    width: 100%;
  }
  .help h2 {
    text-align: center;
    padding-bottom: 16px;
  }
  .help .help_article {
    text-align: center;
    flex-direction: column;
  }
  .help .help_article .article_left {
    width: 100%;
    padding-bottom: 16px;
  }
  .help .help_article .article_right {
    text-align: center;
  }
  .help .help_items {
    padding-top: 40px;
  }
}
@media (max-width: 576px) {
  .help {
    padding-top: 40px;
  }
  .help h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
  }
  .help .help_article p {
    font-size: 12px;
    line-height: 15px;
  }
  .help .help_items {
    padding-top: 20px;
  }
  .help .help_items .item {
    padding: 32px 12px;
    margin-bottom: 16px;
  }
  .help .help_items .item h3 {
    font-size: 12px;
    line-height: 15px;
  }
  .help .help_items .item p {
    font-size: 12px;
    line-height: 15px;
    padding: 4px 0 8px;
  }
  .help .help_items .item a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding: 8px 16px;
  }
  .help .help_items .item img {
    height: 88px;
  }
  .help .help_desktop {
    display: none;
  }
  .help .help_mobile {
    display: block;
  }
}
.footer {
  margin-top: 54px;
  background: #376AC5;
}
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
.footer_navigation {
  display: flex;
}
.footer_navigation img {
  display: none;
}
.footer_navigation .media_line {
  display: none;
}
.footer h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
  padding-bottom: 24px;
}
.footer nav {
  padding-right: 96px;
}
.footer nav ul li {
  padding-bottom: 16px;
}
.footer nav ul li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: white;
}
.footer .information {
  padding-bottom: 24px;
}
.footer .item {
  display: flex;
  padding-bottom: 18px;
  align-items: center;
}
.footer .item:last-child {
  padding-bottom: 0;
}
.footer .item a {
  color: white;
  font-size: 16px;
  line-height: 21px;
  padding-left: 18px;
}
.footer .social {
  display: flex;
  justify-content: end;
}
.footer .social a {
  padding-right: 24px;
}
.footer .social a:last-child {
  padding-right: 0;
}
.footer .line {
  background: white;
  height: 4px;
  border-radius: 4px;
  width: 100%;
  margin: 32px 0;
}
.footer .language {
  display: flex;
  justify-content: end;
}
.footer .language img {
  padding-right: 16px;
}
.footer .language img:last-child {
  padding-right: 0;
}
.footer .footer_language {
  display: none;
}
.footer input {
  display: none;
}

@media (max-width: 1024px) {
  .footer nav {
    padding-right: 12px;
  }
}
@media (max-width: 767px) {
  .footer {
    padding-bottom: 32px;
  }
  .footer .footer_wrapper {
    height: 100%;
    display: block;
  }
  .footer nav {
    padding: 0;
  }
  .footer h2 {
    padding: 0;
  }
  .footer .footer_navigation {
    padding-bottom: 16px;
    flex-direction: column;
  }
  .footer .footer_navigation a {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .footer .footer_navigation .media_line {
    display: block;
    background: white;
    border-radius: 1.5px;
    width: 100%;
    height: 3px;
  }
  .footer .footer_navigation img {
    display: block;
    padding-left: 10px;
  }
  .footer .footer_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer .footer_info .information {
    padding: 0;
  }
  .footer .footer_info .social {
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
  .footer .footer_info .social a {
    padding: 0;
  }
  .footer .footer_info .language {
    display: none;
  }
  .footer .footer_language {
    justify-content: space-between;
    display: flex;
    width: 70%;
  }
  .footer .footer_language a {
    color: white;
  }
  .footer ul {
    display: none;
    visibility: hidden;
    transition: 1s;
    opacity: 0;
  }
  .footer .arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid white;
    border-width: 0px 4px 4px 0;
    display: inline-block;
    padding: 4px;
    height: inherit;
    border-radius: 3px;
    margin: 0 0 8px 10px;
    transition: 0.2s;
  }
  .footer .drop_menu {
    align-items: center;
    display: flex;
    padding: 16px 0;
  }
  .footer #drop_footer_program:checked ~ ul,
.footer #drop_footer_about:checked ~ ul {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .footer #drop_footer_program:checked ~ .drop_menu .arrow,
.footer #drop_footer_about:checked ~ .drop_menu .arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin: 2px 0 0 10px;
  }
  .footer .contact h2 {
    padding: 16px 0;
  }
}
@media (max-width: 567px) {
  .footer .footer_navigation ul a {
    font-size: 14px;
    line-height: 18px;
  }
  .footer h2 {
    font-size: 12px;
    line-height: 15px;
  }
  .footer .item {
    padding-bottom: 12px;
  }
  .footer .item a {
    font-size: 12px;
    line-height: 15px;
  }
  .footer .footer_language a {
    font-size: 12px;
    line-height: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
