.footer{
  padding: 40px 0 24px;
  &_left{
    padding: 20px 0 16px;
  }
  li{
    padding-bottom: 12px;
    &:last-child{
      padding-bottom: 0;
    }
    a:hover{
    color: #1B63F0;
    }
  }
  &_line{
    width: 100%;
    height: 1px;

    background: #5C5C5C;
    opacity: 0.1;
  }
}
@media (min-width: 576px) {
  .footer{
    padding-bottom: 0;
  }
  .footer_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    ul{
      display: flex;
      gap: 10px;
    }
    li{
      padding-bottom: 0;
    }
  }
  .footer_left,
  .footer_right{
    padding: 54px 0 ;
  }
}
@media (min-width: 768px) {
  .footer_wrapper{
    ul{
      gap: 20px;
    }
  }
}