.header{
  position: absolute;
  z-index: 2;
  right: 0;
  left: 0;

  padding-top: 24px;
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop, nav{
    display: none;
  }
  .logo_burger{
    display: flex;
    align-items: center;
    a{
      display: flex;
      align-items: center;
    }
  }
}

.menu-button,
.menu-button::before,
.menu-button::after{
  background:black ;
  transition: 1.5s;
}

#menu-toggle {
  display: none;
}
.menu-button-container {
  display: flex;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 3px;
  width: 18px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -6px;
}

.menu-button::after {
  content: '';
  margin-top: 6px;
}

#menu-toggle:checked + .logo_burger .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .logo_burger .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .logo_burger .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

#menu-toggle:checked ~  .header_wrapper nav {
  display: flex;
}
#menu-toggle:checked ~  nav {
  display: flex;
}

