.header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;
  padding-top: 24px;
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop, nav{
    display: none;
  }
  .logo_burger{
    display: flex;
    align-items: center;
    position: relative;
    gap: 18px;
    z-index: 1;
    a{
      display: flex;
      align-items: center;
    }
  }
  nav{
    //display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
    padding: 150px 24px 65px;
    background: white;
  }
  ul{
    width: 100%;
  }

  &_line{
    background: var(--header_line);
    height: 1px;
    opacity: 0.2;
    width: 100%;
    margin: 32px 0;
  }
}
@media (min-width: 768px){
  .header{
    .mobile,
    .mobile_close,
    .header_line{
      display: none;
    }
    .desktop{
      display: initial;
    }
    nav{
      display: flex;
      align-items: center;
      position: initial;
      width: 100%;
      padding: 0;
      background: none;
    }
    ul{
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 20px;
      padding-right: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .header_wrapper{
    max-width: 850px;
    margin: 0 auto;
  }
}
