@media (max-width: 1024px){

  .portfolio{
    padding: 50px 0;
    .portfolio_navigation{
      margin: 50px 0;
    }

    .portfolio_items{
      .portfolio_item_wrapper{
        margin-bottom: 2%;
        width: 49%;
      }
    }
  }
}

@media (max-width: 767px){
  .portfolio_title{
    text-align: center;
  }

}

@media (max-width: 567px) {
  .portfolio{
    &_title{
      width: 80%;
      margin: 0 auto;
      .portfolio_line{
        width: 80%;
        margin: 0 auto;
      }
    }
    .portfolio_navigation{
      margin: 30px 0;
      ul{
        flex-wrap: wrap;
        text-align: center;
        li{
          width: 50%;
          padding: 20px 0;
          a{
            transition: 0s;
            padding: 12px 7px;
            font-size: 20px;
          }
        }
      }
    }
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 24px;
    }
  }

}