:root{
  --header_line: #3D7FFF;
  --header_burger_active: black;
  --header_bg: #00000033;
  --header_nav_bg: white;

  --primary_color: #1B63F0;
  --primary_color_hover: #3D7FFF;
  --primary_color_active: #175EE9;

  --secondary_color: #97F5CD;
  --secondary_hover: #C0FFE4;
  --secondary_active: #83EBBF;

  --form_send_bg: #64BE97;
  --form_send_bg_hover: #25DE8E;
  --form_send_bg_active: #4DDA9D ;

  --text_color:black;
  --text_color_secondary: white;
  --text_color_paragraph: #5C5C5C;
  --text_color_paragraph_primary:  #838383;
  --text_color_paragraph_secondary: #BFBFBF;

  --text_color_input: #5C5C5C;
  --text_color_footer: #5C5C5C;
  --logo_hover:black;

  --text_color_day: #91A3ED;
  --text_color_hour: #F0C41B;
  --text_color_minute: #FE5F60;

  --description_before_bg: #FFEFEF;
  --description_after_bg: #EAEDF4;

  --swipe_btn_color: #64BE97;
  --swipe_btn_bg: white;
  --swipe_btn_shadow: #E2EDFB;
  --swipe_btn_active:#55B089;

  --degree_btn_arrow: #000;
  --degree_btn_arrow_active: #1B63F0;
  --degree_select_color: #72757E;
  --degree_select_bg: #fff;
  --degree_select_shadow: #1D1F221A;
  --degree_select_outline: #1B63F0;
  --degree_list_hover: #F3F6FC;
  --degree_item_hover: #1B63F0;
  --degree_btn_bg: #F3F6FC;
  --degree_swiper_shadow: #E2EDFB;
  --degree_swiper_graphic: #6583FFCC;
  --degree_swiper_web: #F0C72DCC;
  --degree_swiper_marketing: #9457F3CC;
  --degree_swiper_education: #FE5F60CC;

  --costumer_bg: #637AF2;
  --customer_btn_bg: #BAD1FF;
  --customer_btn_bg_active: #1B63F0;

  --featured_bg: #FFF9F1;
  --featured_color: #F6F2E9;

  --blog_bg: #D6FAE7;
  --text_color_card_name: #5D74E4 ;
  --form_valid: #1B63F0;
  --form_invalid: #F15B5B;

  --button_num_bg: white;
  --button_num_color: #5D74E4;
  --button_num_bg_active: #64BE97;

  --input_bg: #F3F6FC;

  --navigation_icon_color: black;
  --navigation_icon_hover: #97F5CD;
  --navigation_text_hover: #97F5CD;

  --foter_hover: #1B63F0;
}
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);