.help_page{
  padding-top: 176px;
  .help_items{
    padding-top: 0;
  }
  h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 41px;
    color: $hover_color;
    padding-bottom: 40px;
  }

  .item{
    p{
      padding: 8px 0 16px 0;
    }
  }
  a{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $text_color;
  }
  span{
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $text_color;
    padding-bottom: 4px;
  }
}