@media (max-width: 1024px){
  .footer{
    nav{
      padding-right: 12px;
    }
  }
}
@media (max-width: 767px){
  .footer{
    padding-bottom: 32px;
    .footer_wrapper{
      height: 100%;
      display: block;
    }
    nav{
      padding: 0;
    }
    h2{
      padding: 0;
    }
    .footer_navigation{
      padding-bottom: 16px;
      flex-direction: column;
      a{
        display: flex;
        align-items: center;
        padding: 0;
      }
      .media_line{
        display: block;
        background: $footer_line_bg;
        border-radius: 1.5px;
        width: 100%;
        height: 3px;
      }
      img{
        display: block;
        padding-left: 10px;
      }
    }
    .footer_info{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .information{
        padding: 0;
      }
      .social{
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        a{
          padding: 0;
        }
      }
      .language{
        display: none;
      }
    }
    .footer_language{
      justify-content: space-between;
      display: flex;
      width: 70%;
      a{
        color: $footer_color;
      }
    }
    ul{
      display: none;
      visibility: hidden;
      transition: 1s;
      opacity: 0;
    }
    .arrow{
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border: solid white;
      border-width: 0px 4px 4px 0;
      display: inline-block;
      padding: 4px;
      height: inherit;
      border-radius: 3px;
      margin: 0 0 8px 10px;
      transition: 0.2s;
    }
    .drop_menu{
      align-items: center;
      display: flex;
      padding: 16px 0;
    }

    #drop_footer_program:checked ~ ul,
    #drop_footer_about:checked ~ ul{
      display: block;
      opacity: 1;
      visibility: visible;
    }
    #drop_footer_program:checked ~ .drop_menu .arrow{
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      margin: 2px 0 0 10px;
    }
    .contact{
      h2{
        padding: 16px 0;
      }
    }
  }
}
@media (max-width: 567px){
    .footer{
      .footer_navigation{
        ul{
          a{
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      h2{
        font-size: 12px;
        line-height: 15px;
      }
      .item{
        padding-bottom: 12px;
        a{
          font-size: 12px;
          line-height: 15px;
        }
      }
      .footer_language{
        a{
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
}