.footer{
  margin-top: 54px;
  background: $main_pageColor;
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 400px;
  }
  &_navigation{
    display: flex;
    img{
      display: none;
    }
    .media_line{
      display: none;
    }
  }
  h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $footer_color;
    padding-bottom: 24px;
  }
  nav{
    padding-right: 96px;
    ul{
      li{
        padding-bottom: 16px;
        a{
          font-weight: 500;
          font-size: 16px;
          line-height: 21px;
          color: $footer_color;
        }
      }
    }
  }
  .information{
    padding-bottom: 24px;
  }
  .item{
    display: flex;
    padding-bottom: 18px;
    align-items: center;
    &:last-child{
      padding-bottom: 0 ;
    }
     a{
      color: $footer_color;
       font-size: 16px;
       line-height: 21px;
       padding-left: 18px;
    }
  }
  .social{
    display: flex;
    justify-content: end;
    a{
      padding-right: 24px;
      &:last-child{
        padding-right: 0;
      }
    }
  }
  .line{
    background: $footer_line_bg;
    height: 4px;
    border-radius: 4px;
    width: 100%;
    margin: 32px 0;
  }
  .language{
    display: flex;
    justify-content: end;
    img{
      padding-right: 16px;
      &:last-child{
        padding-right: 0;
      }
    }
  }
  .footer_language{
    display: none;
  }
}