@import "reset";
.container{
  max-width: 1250px;
  margin: 0 auto;
}

@media (max-width: 1250px ) {
  .container{
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container{
    max-width: 767px;
  }
}
@media (max-width: 767px ) {
  .container{
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container{
    width: 100%;
    padding: 0 10px;
  }
}

.contact{
  top: 100px;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  padding: 7% 0;
  &_title{
    width: 60%;
    padding-bottom: 50px;
  }
  p{
    font-size: 22px;
    a{
      color: #4169e1;
      text-decoration: none;
    }
  }
  h2{
    font-size: 25px;
    font-weight: 500;
    color:#4169e1;
  }
  h3{
    font-size: 40px;
    font-weight: 800;
  }

  &_input_group{
    display: flex;
    justify-content: space-between;
  }

  &_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
    input{
      transition: 1.5s;
      padding: 15px 0 15px 25px;
      border-radius: 5px;
      background: #efefef;
      border: none;
      &:focus:not(:last-child){
        background-color: #f6fbff;
        border-color: #4169e1;
        outline: 0;
      }
    }
    .btn {
      background: #4169e1;
      color: white;
      padding: 17px 0;
      border-radius: 15px;
      text-decoration: none;
      text-align: center;
      transition: 1.5s;
      cursor: pointer;
      border: 2px solid #4169e1;
      height: 62px;
      &:hover {
        color:#4169e1;
        background: white;
      }
      &:focus {
        color: #4169e1;
        background: white;
      }
    }
  }
  &_right{
    width: 35%;
    img{
      height: 380px;
      border-radius: 5px;
      width: 100%;
    }
  }
}

@media (max-width: 1024px) {
  .contact_left{
    width: 60%;
  }
  .contact{
    padding-top: 0;
  }
  .contact_right{
    width: 35%;
  }
}

@media (max-width: 767px) {
  .contact_title{
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 567px) {
  .contact{
    p{
      font-size: 16px;
    }
  }
  .contact_right{
    display: none;
  }
  .contact_left{
    width: 100%;
    height: 350px;
  }
}

.contact_preload{
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
}