# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\01_Hys_Enterprise\hys_academy\first_module_by_Alex\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
