@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

.home, .hide {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
}

.contact h2, .experience h2, .portfolio h2, .about h2 {
  font-size: 25px;
  font-weight: 500;
  color: #4169e1;
}

.contact h3, .experience h3, .portfolio h3, .about h3 {
  font-size: 40px;
  font-weight: 800;
}

.about .line {
  width: 80%;
  background: #d7d7d7;
  margin: 0 auto;
  height: 3px;
}

.portfolio .portfolio_line {
  height: 2px;
  background: #4169e1;
}

.contact_left .btn, .about .right_download {
  background: #4169e1;
  color: white;
  padding: 17px 0;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  transition: 1.5s;
  cursor: pointer;
  border: 2px solid #4169e1;
}

.contact_left .btn:hover, .about .right_download:hover {
  color: #4169e1;
  background: white;
}

@media (max-width: 1250px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 567px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
}
#preloader {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}

#preloader.hide-preloader {
  animation: hidePreloader 3s;
}

#preloader.preloader-hidden {
  display: none;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 1.5s;
}
.header:hover {
  background: rgba(255, 255, 255, 0.4);
}
.header .logo_black {
  display: none;
}
.header_logo {
  display: flex;
  align-items: center;
}
.header_logo a {
  padding: 20px 0;
}
.header_logo a img {
  width: 30px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  height: 65px;
}
.header_wrapper nav {
  transition: 1.5s;
  display: flex;
  align-items: center;
}
.header_wrapper nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.header_wrapper nav ul li {
  list-style: none;
}
.header_wrapper nav ul li a {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: white;
  padding: 20px 0;
  transition: 1s;
}
.header_wrapper nav ul li a:hover {
  color: #4169e1;
}
.header_wrapper nav ul li:not(:last-child) {
  padding-right: 35px;
}

.hide {
  background: white;
}
.hide .logo_white {
  display: none;
}
.hide .logo_black {
  display: block;
}
.hide:hover {
  background: white;
}
.hide .header_wrapper nav ul li a {
  color: black;
}
.hide .header_wrapper nav ul li a:hover {
  color: #4169e1;
}
.hide .menu-button,
.hide .menu-button::before,
.hide .menu-button::after {
  background: black;
  transition: 1.5s;
}

#menu-toggle {
  display: none;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0;
  transform: rotate(-405deg);
}

#menu-toggle:checked + .header_wrapper nav {
  display: flex;
}

#menu-toggle:checked ~ nav {
  display: flex;
}

a:active ~ nav {
  display: none;
}

.hide_nav {
  display: none;
}

@media (max-width: 576px) {
  .hide .header_wrapper nav {
    background: white;
  }

  .header_wrapper nav {
    text-align: center;
    display: none;
    background: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    margin-top: 65px;
    left: 0;
    width: 100%;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
    -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.47);
  }
  .header_wrapper nav ul {
    justify-content: space-around;
    min-height: 20vh;
    height: 35vh;
    flex-direction: column;
  }
  .header_wrapper nav ul li {
    padding-right: 0 !important;
  }
  .header_wrapper nav ul li a {
    padding: 20px 70px;
  }

  .menu-button-container {
    display: flex;
  }
}
.home {
  height: 100vh;
  min-height: 650px;
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-position: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}
.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 650px;
}
.home_photo {
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: center;
}
.home_photo img {
  width: 40%;
}
.home_name {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 5px;
  padding: 20px 0;
}
.home_changeText {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}
.home_anchor {
  margin: 60px 30px;
}
.home_anchor span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -16px;
  animation: down_btn 2s infinite;
}
.home_anchor :nth-child(2) {
  animation-delay: -0.2s;
}
.home_anchor :nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes down_btn {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
@media (max-width: 1024px) {
  .home_photo img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .home_name {
    font-size: 35px;
    letter-spacing: 3px;
  }
}
@media (max-width: 576px) {
  .home_photo img {
    width: 80%;
  }

  .home_name {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .home_changeText {
    font-size: 17px;
  }
}
.about {
  padding-top: 80px;
  font-family: "Poppins", sans-serif;
}
.about .right {
  padding-left: 50px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about .right_info {
  display: flex;
  flex-wrap: wrap;
}
.about .right_info a {
  text-decoration: none;
  color: black;
  transition: 1.5s;
}
.about .right_info a:hover {
  padding: 5px 8px;
  color: white;
  font-weight: 300;
  border-radius: 15px;
  background: #4169e1;
}
.about .right_info a:hover:active {
  padding: 5px 8px;
  color: white;
  font-weight: 300;
  border-radius: 15px;
  background: #4169e1;
}
.about .right_download {
  width: 250px;
}
.about_title {
  margin-bottom: 80px;
}
.about_info {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .icon {
  width: 25px;
}
.about .left {
  width: 30%;
  border-radius: 30px;
}
.about h4 {
  font-size: 30px;
  font-weight: 600;
}
.about span {
  padding-left: 20px;
  font-size: 20px;
  width: 33%;
  font-weight: 600;
}
.about p {
  font-size: 20px;
  font-weight: 300;
}
.about #email_copy {
  cursor: pointer;
}
.about .right_item {
  display: flex;
  width: 50%;
  padding-bottom: 20px;
  align-items: center;
}
@media (max-width: 1250px) {
  .about .left {
    width: 330px;
  }
  .about .right {
    height: 440px;
  }

  .about span {
    padding-left: 15px;
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .about_info {
    margin-bottom: 50px;
    display: block;
  }

  .about {
    padding-top: 50px;
  }
  .about .right {
    padding: 0;
    margin-top: 50px;
    height: 100%;
  }
  .about .about_title {
    margin-bottom: 50px;
  }
  .about .left {
    width: 40%;
  }

  .right_download {
    margin: 0 auto;
  }

  .right_name {
    margin-bottom: 30px;
  }

  .right_info {
    margin: 30px 0;
  }
}
@media (max-width: 767px) {
  .about .left {
    width: 70%;
    margin: 0 auto;
  }
  .about .about_title {
    text-align: center;
  }
  .about .right_item {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .right_item span {
    padding-left: 10px;
    font-size: 15px;
  }
  .right_item p {
    font-size: 17px;
  }

  .about h2 {
    font-size: 20px;
  }
  .about h3 {
    font-size: 35px;
  }
  .about .right_download a {
    padding: 15px 50px;
  }
}
.portfolio {
  padding: 80px 0;
  font-family: "Poppins", sans-serif;
}
.portfolio_title {
  margin: 0 auto;
  text-align: center;
  width: 500px;
}
.portfolio h3 {
  padding-bottom: 30px;
}
.portfolio .portfolio_line {
  width: inherit;
}
.portfolio_works .portfolio_navigation {
  margin: 50px 0;
}
.portfolio_works .portfolio_navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.portfolio_works .portfolio_navigation ul li {
  list-style: none;
}
.portfolio_works .portfolio_navigation ul li a {
  cursor: pointer;
  padding: 15px 20px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  transition: 1.5s;
}
.portfolio_works .portfolio_navigation ul li a:hover {
  color: #4169e1;
}
.portfolio_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio_items .portfolio_item_wrapper {
  margin-bottom: 1%;
  position: relative;
  width: 24%;
}
.portfolio_items .portfolio_item_wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.portfolio_items .portfolio_item_wrapper .item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 1.5s;
}
.portfolio_items .portfolio_item_wrapper .item .hide_item {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}
.portfolio_items .portfolio_item_wrapper .item:hover {
  background: rgba(0, 0, 0, 0.2);
}
.portfolio_items .portfolio_item_wrapper .item:hover .show_item {
  display: none;
}
.portfolio_items .portfolio_item_wrapper .item:hover .hide_item {
  opacity: 1;
  height: auto;
  position: relative;
}
.portfolio .item_1 {
  background: #ff6fa4;
}
.portfolio .item_2 {
  background: #fca972;
}
.portfolio .item_3 {
  background: #2FA1DA;
}
.portfolio .item_4 {
  background: #75c3bb;
}
.portfolio .item_5 {
  background: #ADDCCA;
}
.portfolio .item_6 {
  background: #AADE87;
}
.portfolio .item_7 {
  background: #F9C4BA;
}
.portfolio .item_8 {
  background: #fdcf77;
}

.hide_it {
  display: none;
  opacity: 1;
  animation-name: a1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes a1 {
  to {
    opacity: 0;
    min-height: 0;
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
  }
}
@media (min-width: 1025px) {
  .portfolio_items .hide {
    width: 32%;
  }
}
@media (max-width: 1024px) {
  .portfolio {
    padding: 50px 0;
  }
  .portfolio .portfolio_navigation {
    margin: 50px 0;
  }
  .portfolio .portfolio_items .portfolio_item_wrapper {
    margin-bottom: 2%;
    width: 49%;
  }
}
@media (max-width: 767px) {
  .portfolio_title {
    text-align: center;
  }
}
@media (max-width: 567px) {
  .portfolio_title {
    width: 80%;
    margin: 0 auto;
  }
  .portfolio_title .portfolio_line {
    width: 80%;
    margin: 0 auto;
  }
  .portfolio .portfolio_navigation {
    margin: 30px 0;
  }
  .portfolio .portfolio_navigation ul {
    flex-wrap: wrap;
    text-align: center;
  }
  .portfolio .portfolio_navigation ul li {
    width: 50%;
    padding: 20px 0;
  }
  .portfolio .portfolio_navigation ul li a {
    transition: 0s;
    padding: 12px 7px;
    font-size: 20px;
  }
  .portfolio h2 {
    font-size: 20px;
  }
  .portfolio h3 {
    font-size: 24px;
  }
}
.experience {
  padding-top: 60px;
  font-family: "Poppins", sans-serif;
}
.experience_title {
  text-align: center;
  padding-bottom: 50px;
}
.experience h3 {
  padding-bottom: 30px;
}
.experience p {
  font-size: 21px;
  max-width: 70%;
  margin: 0 auto;
}
.experience p a {
  color: #4169e1;
  text-decoration: none;
}
.experience_slider {
  min-height: 600px;
  height: 75vh;
}
.experience_slider .swiper {
  height: 90%;
}
.experience_slider .swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.experience_slider .swiper .swiper-wrapper .swiper-slide img {
  max-width: 80%;
  border-radius: 20px;
  height: 80%;
}
.experience_slider .swiper .btn {
  color: #4169e1;
}
.experience .swiper-pagination-progressbar-fill {
  background: #4169e1;
}

@media (max-width: 1250px) {
  .experience_slider .swiper .swiper-wrapper .swiper-slide img {
    max-width: 75%;
    height: 65%;
  }
}
@media (max-width: 767px) {
  .experience_slider .swiper .swiper-wrapper .swiper-slide img {
    max-width: 60%;
  }

  .experience {
    padding-top: 30px;
  }
  .experience p {
    max-width: 100%;
  }
  .experience h3 {
    font-size: 28px;
  }
}
@media (max-width: 567px) {
  .experience_slider .swiper .swiper-wrapper .swiper-slide img {
    max-width: 75%;
    height: 65%;
  }

  .experience p {
    font-size: 16px;
  }
}
.contact {
  font-family: "Poppins", sans-serif;
  padding: 30px 0 60px;
}
.contact_title {
  width: 60%;
  padding-bottom: 50px;
}
.contact p {
  font-size: 22px;
}
.contact p a {
  color: #4169e1;
  text-decoration: none;
}
.contact_input_group {
  display: flex;
  justify-content: space-between;
}
.contact_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}
.contact_left input {
  transition: 1.5s;
  padding: 15px 0 15px 25px;
  border-radius: 5px;
  background: #efefef;
  border: none;
}
.contact_left input:focus:not(:last-child) {
  background-color: #e3f6fd;
  border-color: #4169e1;
  outline: 0;
}
.contact_left p {
  font-size: 14px;
  color: #bebebe;
  padding-left: 25px;
}
.contact_left .btn {
  height: 62px;
}
.contact_left .btn:focus {
  color: #4169e1;
  background: white;
}
.contact_right {
  width: 35%;
}
.contact_right img {
  height: 100%;
  border-radius: 5px;
  width: 100%;
}

.contact_preload {
  display: none;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
}

@media (max-width: 1024px) {
  .contact_left {
    width: 60%;
  }

  .contact {
    padding-top: 0;
  }

  .contact_right {
    width: 35%;
  }
}
@media (max-width: 767px) {
  .contact_title {
    width: 100%;
    text-align: center;
  }

  .contact_right {
    display: none;
  }

  .contact_left {
    width: 100%;
  }
  .contact_left p {
    padding: 15px 0 15px 25px;
  }
}
@media (max-width: 567px) {
  .contact .contact_title p {
    font-size: 16px;
  }

  .contact_left {
    width: 100%;
  }
}
footer {
  background: #f4f4f4;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}
footer .footer_wrapper {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}
footer p {
  font-size: 20px;
  font-weight: 600;
}
footer nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
footer nav ul li {
  list-style: none;
  padding-right: 30px;
}
footer nav ul li:last-child {
  padding-right: 0;
}
footer nav ul li a img {
  width: 25px;
}

@media (max-width: 567px) {
  footer .footer_wrapper {
    height: 100%;
    display: block;
    padding: 15px 0;
    text-align: center;
  }
  footer .footer_wrapper p {
    padding-bottom: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
