.header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  padding: 24px 0;

  transition: $transition;
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo_burger{
    z-index: 1;

    display: flex;
    align-items: center;
    position: relative;
    gap: 18px;
    .logo_link{
      display: flex;
      align-items: center;
    }
  }
  .header_navigation{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    padding: 150px 24px 0;

    box-shadow: 0 4px 8px 0 rgb(34 60 80 / 47%);
    background: var(--header_nav_bg);
  }

  .header_list_item{
    position: relative;

    display: flex;
    flex-direction: column;
  }
  .header_list_item::after{
    position: absolute;
    content: '';
    bottom: 0;

    height: 1px;
    width: 100%;

    background: var(--header_line);

    opacity: 0.2;
  }
  .header_list_link {
    padding: 32px 0;

    transition: $transition;
  }
  &_primary {
    padding: 12px 0;

    background: var( --header_bg);
  }
  .header_list                         {  width: 100%;  }
  .desktop, .header_navigation         {  display: none;  }
  .header_list_item:last-child::after  {  display: none;  }
}
@media (min-width: $media_md){
  .header{
    .header_navigation{
      display: flex;
      align-items: center;
      position: initial;
      width: 100%;
      padding: 0;

      box-shadow: none;
      background: none;
    }
    .header_list{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: end;
      gap: 20px;
      padding-right: 40px;
    }
    .header_wrapper{
      .menu-button,
      .mobile,
      .mobile_close,
      .header_line,
      .close      {  display: none;  }
    }
    .desktop                  {  display: initial;  }
    .header_list_link         {  padding: 0;  }
    .header_list_item::after  {  display: none;  }
  }
}

@media (min-width: $media_lg) {
  .header_wrapper{
    max-width: 850px;
    margin: 0 auto;
  }
}
