.header{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 2;

  padding: 24px 0;

  background: var( --header_bg);
  &_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .desktop, nav{
    display: none;
  }
  .logo_burger{
    z-index: 1;

    display: flex;
    align-items: center;
    position: relative;
    gap: 18px;

    a{
      display: flex;
      align-items: center;
    }
  }

  nav{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    padding: 150px 24px 65px;

    background: var(--header_nav_bg);
  }
  ul{
    width: 100%;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 33px;
  }
  li{
    position: relative;

    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
  }
  li::after{
    position: absolute;
    content: '';
    bottom: 0;

    height: 1px;
    width: 100%;

    background: var(--header_line);

    opacity: 0.2;
  }
  li:last-child::after{
    display: none;
  }
}
@media (min-width: 768px){
  .header{
    .mobile,
    .mobile_close,
    .header_line,
    .close{
      display: none;
    }
    .desktop{
      display: initial;
    }
    nav{
      display: flex;
      align-items: center;
      position: initial;
      width: 100%;
      padding: 0;

      background: none;
    }
    li{
      padding: 0;
    }
    li::after{
      display: none;
    }
    ul{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: end;
      gap: 20px;
      padding-right: 40px;
    }
  }
}

@media (min-width: 1024px) {
  .header_wrapper{
    max-width: 850px;
    margin: 0 auto;
  }
}
