.bank_data{
  &_info{
    box-shadow: 0 8px 24px rgba(127, 129, 182, 0.24);
    border-radius: 15px;
    display: flex;
    padding: 48px 0 48px 48px;
  }
  .line{
    border-radius: 12px;
    background: $main_pageColor;
    width: 8px;
    margin: 0 40px;
  }
  h1{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $text_color;
  }
  p{
    font-weight: 300;
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 24px;
    color: $text_color;
    &:nth-child(3){
      padding-bottom: 56px;
    }
    &:last-child{
      padding-bottom: 0;
    }
  }
  &_numbers{
    p{
      font-weight: 500;

    }
  }
}