.categories{
  padding: 80px 0;
  .about_items{
    text-align: center;
    padding-top: 56px;
  }
  .item{
    padding-bottom: 20px;
    &:nth-child(2){
      padding-bottom: 40px;
    }
    &:last-child{
      padding-bottom: 0;
    }
  }
  .item_icon{
    display: flex;
    margin: 0 auto;
  }
  .mobile{
    max-width: 300px;
    margin: 0 auto;
  }
  .desktop      {  display: none;  }
  .item_caption {  padding: 16px 0 6px;  }
}
@media (min-width: $media_sm) {
  .categories{
    .about_items {
      display: flex;
      flex-wrap: wrap;
      text-align: start;
    }
    .mobile      {  max-width: 100%;  }
    .item        {  width: 50%;  }
    .item_icon   {  display: initial;  }
  }
}
@media (min-width: $media_md) {
  .categories{
    .item         {  width: 48%;  }
    .mobile       {  display: none; }
    .desktop      {  display: inherit;  }
    .about_items  {  justify-content: space-between;  }
  }
}
@media (min-width: $media_lg) {
  .categories {
    padding-bottom: 120px;
    &_wrapper {
      max-width: 850px;
      margin: 0 auto;
    }
    .item {
      width: 100%;
      max-width: 415px;
      &:nth-child(2) {
        padding-bottom: 62px;
        .desktop {
          max-width: 90%;
          margin: 0;
        }
      }
    }
    .item_caption   {  padding: 10px 0 6px;  }
  }
}