.costumers{

  .costumers_img{
    position: relative;

    max-width: 273px;
    max-height: 273px;
    margin: 0 24px;
    img{
      transform: translate(20%, 15%);
    }
  }
  .blue_bg{
    position: absolute;
    z-index: -1;

    height: 100%;
    width: 100%;

    background: var(--costumer_bg);

    border-radius: 24px;
  }
  h2{
    width: 70vw;
  }
  .line{
    margin-bottom: 12px;
  }
  .costumers_article_text{
    svg{
      margin: 48px 0 28px;
    }
  }
  p{
    padding-bottom: 12px;
  }
  h5{
    padding-bottom: 56px;
  }
  .costumers_article_text{
    padding: 0 24px;
  }
  .costumers_article {
    position: relative;
    overflow: hidden;

    padding: 67px 0 94px;
  }
  .img_group{
    position: absolute;
    z-index: -2;

    scale: 0.7;
    transform: translate(-34%, 10%);
  }
 }
@media (min-width: 576px) {
  .costumers{
    h2{
      width: initial;
    }
  }


}
@media (min-width: 768px) {
  .costumers{
    .costumers_wrapper{
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    .costumers_article{
      width: 50%;
      overflow: initial;
      padding-top: 0;
    }
    .img_group{
      transform: translate(-100%, -40%);
    }
  }
}
@media (min-width: 1024px) {
  .costumers{
    padding-bottom: 160px;
    .costumers_wrapper{
      justify-content: space-between;
      max-width: 1024px;
      margin: 0 auto;
      gap: 0;
    }
    .costumers_img{
      max-width: 100%;
      max-height: 344px;
      margin: 0 0 56px;
    }
    .costumers_article{
      padding: 0;
    }
    .costumers_article_text{
      padding: 0 0 0 10px;
      max-width: 415px;
      svg{
        margin: 48px 0 24px;
      }
    }
    .img_group{
      scale: 1;
      transform: translate(-91%, -18%);
    }
  }
}