.course{
  &_swiper_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  .swiper-slide{
    position: relative;
    padding-top: 24px;
  }
  .profile{
    position: absolute;
    top: 0;
    left: 16px;
  }
  .article{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;

    bottom: 0;
    width: 100%;
  }
  .price{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 16px 14px 20px 16px;
  }
  .star_group{
    display: flex;
    gap: 2px;
  }
  .right,
  .left{
    display: flex;
    align-items: center;
  }
  .course_description{
    display: flex;
    padding: 8px 0 16px 16px;
  }
  .course_description::after{
    content: '';
    position: absolute;
    bottom: 60px;
    left: 0;

    width: 100%;
    height: 1px;

    background: white;

    opacity: 0.3;
  }
  .swiper-slide{
     .course_name{
      padding-left: 16px;
    }
  }
  .course_bg{
    border-radius: 8px;
    &:first-child{
      min-height: 364px;
      min-width: 260px;
    }
  }
  .hide_mobile{
    display: none;
  }
  .left           {  gap: 10px;  }
  .star_count     {  padding-left: 4px;  }
  .course_intro   {  padding: 6px 0 30px;  }
  .course_intro,
  .course_name,
  .caption_primary{  text-align: center;  }
}
@media (min-width: $media_md) {
  .course{
    .hide_mobile  {  display: initial;  }
    .hide_tablet  {  display: none;  }
  }
}
@media (min-width: $media_lg) {
  .course{
    background-image: url("../../../assets/images/04_course_bg.png");
    background-repeat: no-repeat;
    background-position-x: -100%;
    .price                {  padding: 16px 25px 20px 16px;  }
    .profile              {  left: 24px;  }
    .hide_mobile          {  display: initial;  }
    .star_group           {  gap: 3px;  }
    .course_intro         {  padding-bottom: 55px;  }
    &_swiper_wrapper      {  gap: 20px;  }
    .course_description   {  padding: 9px 0 16px 17px;  }
  }
}
