.get_started{
  background-image: url("../../../assets/images/09get_started_bluebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  .list_items{
    padding: 56px 0 40px;
    .get_started_caption {  padding-bottom: 24px;  }
  }
  .get_started_item{
    .item_link{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }
  }
  .get_started_line{
    height: 1px;
    width: 100%;

    background: #FFFFFF;

    opacity: 0.2;
  }
  .get_started_item{
    padding-bottom: 12px;
    &:last-child  {  padding-bottom: 0;  }
  }
  .get_started_caption{
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .button_accent        {  margin-left: 20px;  }
  .small_caption       {  padding: 40px 0 8px;  }
  .text_first          {  padding-bottom: 12px;  }
  .text_second         {  padding-bottom: 32px;  }
  .get_started_caption {  padding-bottom: 24px;  }
}
@media (min-width: $media_md) {
  .get_started{
    &_wrapper{
      display: flex;
      justify-content: space-between;
      padding: 40px 0;
    }
    .article      {  width: 48%;  }
    .list_items   {  width: 48%;  }
  }
}
@media (min-width: $media_lg) {
  .get_started{
    .list_items{
      max-width: 415px;
      .get_started_caption{  padding-bottom: 20px;  }
    }
    .small_caption        {  padding: 30px 0 8px;  }
    .article              {  max-width: 415px;  }
    .get_started_wrapper  {  padding: 33px 0;  }
  }
}