.get_started{
  background-image: url("../../../assets/images/09get_started_bluebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  h5{
    padding: 40px 0 8px;
  }
  .h2{
    padding-bottom: 24px;
  }
  .text_first{
    padding-bottom: 12px;
  }
  .text_second{
    padding-bottom: 32px;
  }
  .list_items{
    padding: 56px 0 40px;
    h2{
      padding-bottom: 24px;
    }
  }
  li{
    a{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;
    }
  }

  .get_started_line{
    height: 1px;
    width: 100%;

    background: #FFFFFF;

    opacity: 0.2;
  }
  li{
    padding-bottom: 12px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  .btn{
    padding: 12px 20px;

  }
  .button_third{
    margin-left: 20px;
  }
  h2{
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
@media (min-width: 768px) {
  .get_started{
    &_wrapper{
      display: flex;
      justify-content: space-between;
      padding: 40px 0;
    }
    .article{
      width: 48%;
    }
    .list_items{
      width: 48%;
    }
  }
}
@media (min-width: 1024px) {
  .get_started{
    .get_started_wrapper{
      padding: 33px 0;
    }
    .article{
      max-width: 415px;
    }
    .list_items{
      max-width: 415px;
      h2{
        padding-bottom: 20px;
      }
    }
    h5{
      padding: 30px 0 8px;
    }
  }
}