# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Cv Projects\Layout normal\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
