.costumers{
  padding-bottom: 94px;
  .hide_mobile{
    display: none;
  }
  .costumers_img{
    position: relative;

    height: 320px;
    margin: 0 24px;
    img{
      position: absolute;

      max-width: 270px;
      top: 45px;
      left: 55px;
    }
  }
  .blue_bg{
    height: 270px;
    width: 270px;

    background: #637AF2;
    border-radius: 24px;
  }
  .caption{
    display: flex;
    align-items: end;
  }
  h2{
    width: 70vw;
  }
  .line{
    margin-bottom: 12px;
  }
  svg{
    margin: 48px 0 28px;
  }
  p{
    padding-bottom: 12px;
  }
  h5{
    padding-bottom: 56px;
  }
  .costumers_article_text{
    padding: 0 24px;
  }
  .costumers_article {
    padding-top: 20px;

    position: relative;
  }
  .img_group{
    height: 400px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 150px;
    overflow: hidden;
  }
  .img_light{
    position: absolute;
    z-index: -2;
    transform: translate(-70px, 5px);
    min-width: 550px;
  }
  .img_dark{
    position: absolute;
    z-index: -1;
    transform: translate(-60px, 25px);
  }

}
@media (min-width: 576px) {
  .costumers{
    h2{
      width: initial;
    }
  }
}
@media (min-width: 768px) {
  .costumers{
    &_wrapper{
      display: flex;
      justify-content: center;
      gap: 50px;
    }
    &_article{
      width: 50%;
    }
    .img_group{
      top: 0;
      overflow: initial;
      transform: translate(-70%, -10%);
      z-index: -1;
    }
  }
}