.description{
  padding: 80px 0 120px ;
  &_video{
    position: relative;
    padding-bottom: 40px;
  }
  .play_btn{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  svg{
    transform: translate(2px)
  }
  .caption{
    display: flex;
    align-items: baseline;

    padding: 6px 0 24px;
  }
  .p{
    padding: 12px 0 10px;
  }
  ul{
    padding: 0 0 24px 20px;
  }
  li{
    padding-left: 16px;
    list-style: url("../../images/05description_dot.svg");
    &:first-child{
      padding-bottom: 12px;
    }
  }
  .button_first{
    padding: 12px 20px;
  }
}
