.navigation{
  &_item{
    padding-bottom: 20px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  h4{
    padding-bottom: 16px;
  }
  li{
    padding-bottom: 9px;
    &:last-child{
      padding-bottom: 0;
    }
  }
  .social{
    h4{
      padding-bottom: 24px;
    }
    ul{
      display: flex;
      gap: 8px;
    }
    li{
      padding: 0;
    }
  }
  a:hover{
    color: var(--navigation_icon_hover);;
  }
  .social{
    svg{
      stroke: var(--navigation_icon_color);
      &:hover{
        stroke: var(--navigation_icon_hover);
      }
    }
  }
  .nav_logo{
    padding-bottom: 12px;
    display: flex;
  }
}
@media (min-width: 576px) {
  .navigation_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nav_logo{
    width: 100%;
  }

}