@media (max-width: 1250px ) {
  .about{
    .left{
      width: 330px;
    }
    .right{
      height: 440px;
    }
  }
  .about{
    span{
      padding-left: 15px;
      font-size: 17px;
    }
  }

}
@media (max-width: 1024px) {
  .about_info{
    margin-bottom: 50px;
    display: block;
  }
  .about{
    padding-top: 50px;
    .right{
      padding: 0;
      margin-top: 50px;
      height: 100%;
    }
    .about_title{
      margin-bottom: 50px;
    }
    .left{
      width: 40%;
    }
  }
  .right_download{
    margin: 0 auto;
  }
  .right_name{
    margin-bottom: 30px;
  }
  .right_info{
    margin: 30px 0;
  }
}

@media (max-width: 767px ) {
  .about{
    .left{
      width: 70%;
      margin: 0 auto;
    }
    .about_title{
      text-align: center;
    }
    .right_item{
      width: 100%;
    }
  }

}

@media (max-width: 576px) {
  .right_item{
    span{
      padding-left: 10px;
      font-size: 15px;
    }
    p{
      font-size: 17px;
    }
  }
  .about{
    h2{
      font-size: 20px;
    }
    h3{
      font-size: 35px;
    }
    .right_download{
      a{
        padding: 15px 50px;
      }
    }
  }
}