.about{
  font-family: 'Poppins', sans-serif;
  padding: 80px 0;
  &_wrapper{

  }
  .right{
    padding-left: 50px;
  }
  .right_info{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
  }
  .right_download{
    a{
      background: $main_page_color;
      color: white;
      padding: 20px 60px;
      border-radius: 15px;
    }
  }

  &_title{
    //font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
  }
  &_info{
    display: flex;
    justify-content: center;
    align-items: center;
    &_name{

    }

  }
  .icon{
    width: 25px;
  }
  .left{
    width: 30%;
    border-radius: 30px;
  }
  h2{
    font-size: 25px;
    font-weight: 500;
    color: $main_page_color;
  }

  h3{
    font-size: 40px;
    font-weight: 800;
  }
  h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  span{
    padding-left: 20px;
    font-size: 20px;
    width: 33%;
    font-weight: 600;
  }
  p{
    font-size: 20px;
    font-weight: 300;
  }
  #email_copy{
    cursor: pointer;
  }

  a{
    text-decoration: none;
    color: black;
    transition: 1.5s;
    &:hover{
      color:$home_color ;
      font-weight: 300;
      border-radius: 15px;
      background:$main_page_color ;
      padding: 5px 8px;
    }
  }

  .right_item{
    display: flex;
    width: 50%;
    padding-bottom: 20px;
    align-items: center;
  }


}