.pop_up{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  &_wrapper{
    background: $pop_up_bg;
    padding: 56px;
    border-radius: 25px;
    box-shadow: 0px 8px 24px rgba(127, 129, 182, 0.24);
  }
  &_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      cursor: pointer;
      padding: 5px;
    }
  }
  h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $text_color;
  }
  .text{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $text_color;
    width: 52%;
    padding: 16px 0 36px 0;
  }
  .pop_up_items{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
  }
  .item{
    width: 50%;
    display: flex;
    align-items: center;
    p{
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $text_color;
      padding-left: 24px;
    }
  }

}
.pop_up_show{
  display: flex;
}