#pop_up_check{
  display: none;
}
.pop_up{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  &_wrapper{
    background: $pop_up_bg;
    padding: 56px;
    border-radius: 25px;
    box-shadow: 0px 8px 24px rgba(127, 129, 182, 0.24);
  }
  &_article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    input{
      display: none;
    }
  }
  h2{
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    color: $text_color;
  }
  p{
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $text_color;
    width: 52%;
    padding: 16px 0 36px 0;
  }
  .pop_up_items{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    flex-direction: column;
    justify-content: space-between;
  }
  .item{
    width: 50%;
    display: flex;
    align-items: center;
    a{
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $text_color;
      padding-left: 24px;
    }
  }

}
.pop_up_label{
  position: relative;
  padding: 20px;
  //display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pop_up_menu,
.pop_up_menu:before,
.pop_up_menu:after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: 1.5s;
  border-radius: 2px;
  margin-top: 0;
  transform: rotate(405deg);
}
.pop_up_menu:before {
  content: '';
  margin-top: -8px;
}
.pop_up_menu:after {
  content: '';
  margin-top: 8px;
}
.pop_up_menu:before{
  margin-top: 0;
  transform: rotate(180deg);
}
.pop_up_menu:after{
  margin-top: 0;
  transform: rotate(90deg);
}
.pop_up_menu{
  background: rgba(255, 255, 255, 0);
  right: 0;
}
#pop_up_check:checked ~ .pop_up{
  display: none;
}
.pop_up_show{
  display: flex;
}