@media (max-width: 767px){
  .pop_up{
    .text{
      width: 90%;
    }
    .pop_up_items{
      height: 100%;
    }
    .item{
      width: 100%;
      padding-bottom: 24px;
      &:last-child{
        padding-bottom: 0;
      }
    }
  }
}
@media (max-width: 567px){
  .pop_up{
    img{
      width: 24px;
    }
    .pop_up_wrapper{
      padding: 24px;
    }
    h2{
      font-size: 14px;
      line-height: 18px;
    }
    .text{
      font-size: 12px;
      line-height: 15px;
      padding: 4px 0 16px 0;
    }
    .item{
      a{
        font-size: 14px;
        line-height: 18px;
      }

    }
  }
}